<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="biezhi">
    <title>${site_title ?! sysinfo.site_title} - By Blade</title>
    <link rel="Shortcut Icon" href="${base}/static/img/favicon.gif" />
    <link rel="Bootmark" href="${base}/static/img/favicon.gif" />
    <meta name="keywords" content="${keywords ?! sysinfo.site_keywords}">
    <meta name="description" content="${description ?! sysinfo.site_description}">
    <!-- Bootstrap Core CSS -->
    <link href="${base}/static/css/bootstrap.min.css" rel="stylesheet">
   	<link href="${base}/static/css/bootstrap-material-design.min.css" rel="stylesheet">
   	<link href="${base}/static/css/ripples.min.css" rel="stylesheet">	
    <!-- Custom CSS -->
    <link href="${base}/static/css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<header>
		<!-- Navigation -->
	    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	        <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="${base}">${sysinfo.site_name}</a>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav nav-pills navbar-nav" aaa="${site_menu}">
	                	#for(item : site_menus)
	                	<li>
	                        <a href="${base}?tab=${item.slug}">${item.name}</a>
	                    </li>
	                	#end
	                </ul>
	                <ul class="nav navbar-nav navbar-right">
		              <li><a href="${base}/signin">登录</a></li>
		            </ul>
	            </div>
	            
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>
	</header>
	
    <!-- Page Content -->
    <div class="container">
        <div class="row">
