#include("./header.html")
		<!-- home start -->
		<div class="col-md-9">
			<div class="row carousel-holder">
			    <div class="col-md-12">
			        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			            <ol class="carousel-indicators">
			                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			            </ol>
			            <div class="carousel-inner">
			                <div class="item active">
			                    <img class="slide-image" src="${base}/static/img/carousel/c-1.jpg" alt="">
			                </div>
			                <div class="item">
			                    <img class="slide-image" src="${base}/static/img/carousel/c-2.jpg" alt="">
			                </div>
			                <div class="item">
			                    <img class="slide-image" src="${base}/static/img/carousel/c-3.jpg" alt="">
			                </div>
			            </div>
			            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
			                <span class="glyphicon glyphicon-chevron-left"></span>
			            </a>
			            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
			                <span class="glyphicon glyphicon-chevron-right"></span>
			            </a>
			        </div>
			    </div>
			</div>
			
			<!-- 首页开始 -->
			<div class="row">
		           	
				<div class="col-sm-4 col-lg-4 col-md-4">
				    <div class="thumb_cover">
				        <img src="${base}/static/img/cover/1.jpg" alt="">
				        <div class="caption">
				            <h4><a href="#">2014年 名侦探柯南：江户川柯</a></h4>
				            <p>
				            	<span class="glyphicon glyphicon-calendar">12-18</span>
				                <span class="glyphicon glyphicon-eye-open">15</span>
				                <span class="glyphicon glyphicon-comment">暂无评论</span>
				                <span class="glyphicon glyphicon-th-list">1080P</span>
				            </p>
				        </div>
				    </div>
				</div>
				
				<div class="col-sm-4 col-lg-4 col-md-4">
				    <div class="thumb_cover">
				        <img src="${base}/static/img/cover/2.jpg" alt="">
				        <div class="caption">
				            <h4><a href="#">2015年 云中行走/走钢索的人..</a></h4>
				            <p>
				            	<span class="glyphicon glyphicon-calendar">12-18</span>
				                <span class="glyphicon glyphicon-eye-open">15</span>
				                <span class="glyphicon glyphicon-comment">暂无评论</span>
				                <span class="glyphicon glyphicon-th-list">1080P</span>
				            </p>
				        </div>
				    </div>
				</div>
				
				<div class="col-sm-4 col-lg-4 col-md-4">
				    <div class="thumb_cover">
				        <img src="${base}/static/img/cover/3.jpg" alt="">
				        <div class="caption">
				            <h4><a href="#">2015年 枪杀近距离 蓝光电影..</a></h4>
				            <p>
				            	<span class="glyphicon glyphicon-calendar">12-18</span>
				                <span class="glyphicon glyphicon-eye-open">15</span>
				                <span class="glyphicon glyphicon-comment">暂无评论</span>
				                <span class="glyphicon glyphicon-th-list">1080P</span>
				            </p>
				        </div>
				    </div>
				</div>
		
				<div class="col-sm-4 col-lg-4 col-md-4">
				    <div class="thumb_cover">
				        <img src="${base}/static/img/cover/4.jpg" alt="">
				        <div class="caption">
				            <h4><a href="#">2014年 帕索里尼 蓝光电影..</a></h4>
				            <p>
				            	<span class="glyphicon glyphicon-calendar">12-18</span>
				                <span class="glyphicon glyphicon-eye-open">15</span>
				                <span class="glyphicon glyphicon-comment">暂无评论</span>
				                <span class="glyphicon glyphicon-th-list">1080P</span>
				            </p>
				        </div>
				    </div>
				</div>
		               
				<div class="col-sm-4 col-lg-4 col-md-4">
				    <div class="thumb_cover">
				        <img src="${base}/static/img/cover/5.jpg" alt="">
				        <div class="caption">
				            <h4><a href="#">2015年 侠女：剑的记忆/侠女..</a></h4>
				            <p>
				            	<span class="glyphicon glyphicon-calendar">12-18</span>
				                <span class="glyphicon glyphicon-eye-open">15</span>
				                <span class="glyphicon glyphicon-comment">暂无评论</span>
				                <span class="glyphicon glyphicon-th-list">1080P</span>
				            </p>
				        </div>
				    </div>
				</div>
				
				<div class="col-sm-4 col-lg-4 col-md-4">
				    <div class="thumb_cover">
				        <img src="${base}/static/img/cover/6.jpg" alt="">
				        <div class="caption">
				            <h4><a href="#">2015年 不良教育/不良教育电..</a></h4>
				            <p>
				            	<span class="glyphicon glyphicon-calendar">12-18</span>
				                <span class="glyphicon glyphicon-eye-open">15</span>
				                <span class="glyphicon glyphicon-comment">暂无评论</span>
				                <span class="glyphicon glyphicon-th-list">1080P</span>
				            </p>
				        </div>
				    </div>
				</div>
		               
			<div class="col-sm-4 col-lg-4 col-md-4">
			    <div class="thumb_cover">
			        <img src="${base}/static/img/cover/7.jpg" alt="">
			        <div class="caption">
			            <h4><a href="#">2015年 林中漫步/偏跟山过不..</a></h4>
			            <p>
			            	<span class="glyphicon glyphicon-calendar">12-18</span>
			                <span class="glyphicon glyphicon-eye-open">15</span>
			                <span class="glyphicon glyphicon-comment">暂无评论</span>
			                <span class="glyphicon glyphicon-th-list">1080P</span>
			            </p>
			        </div>
			    </div>
			</div>
		               
			<div class="col-sm-4 col-lg-4 col-md-4">
			    <div class="thumb_cover">
			        <img src="${base}/static/img/cover/8.jpg" alt="">
			        <div class="caption">
			            <h4><a href="#">2015年 险恶2/邪灵2(港)/凶兆2..</a></h4>
			            <p>
			            	<span class="glyphicon glyphicon-calendar">12-18</span>
			                <span class="glyphicon glyphicon-eye-open">15</span>
			                <span class="glyphicon glyphicon-comment">暂无评论</span>
			                <span class="glyphicon glyphicon-th-list">1080P</span>
			            </p>
			        </div>
			    </div>
			</div>
		               
			<div class="col-sm-4 col-lg-4 col-md-4">
			    <div class="thumb_cover">
			        <img src="${base}/static/img/cover/9.jpg" alt="">
			        <div class="caption">
			            <h4><a href="#">2015年 绝命海拔/珠穆朗玛/远征珠..</a></h4>
			            <p>
			            	<span class="glyphicon glyphicon-calendar">12-18</span>
			                <span class="glyphicon glyphicon-eye-open">15</span>
			                <span class="glyphicon glyphicon-comment">暂无评论</span>
			                <span class="glyphicon glyphicon-th-list">1080P</span>
			            </p>
			        </div>
			    </div>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-lg-12">
				<div class="btn-toolbar">
				  <div class="btn-group">
				    <a href="javascript:void(0)" class="btn btn-raised">«</a>
				    <a href="javascript:void(0)" class="btn btn-raised">1</a>
				    <a href="javascript:void(0)" class="btn btn-raised">2</a>
				    <a href="javascript:void(0)" class="btn btn-raised">3</a>
				    <a href="javascript:void(0)" class="btn btn-raised">4</a>
				    <a href="javascript:void(0)" class="btn btn-raised">5</a>
				    <a href="javascript:void(0)" class="btn btn-raised">»</a>
				  </div>
				</div>
			</div>
		</div>
		</div>
		#include("./sidebar.html")
	</div>
</div>
<!-- /.container -->
#include("./footer.html")
</body>
</html>