<!-- Blog Sidebar Widgets Column -->
<div class="col-md-3">
	<div class="form-group is-empty">
		<div class="input-group">
			<input type="text" id="addon1" class="form-control"
				placeholder="请输入电影名称" /> <span class="input-group-btn">
				<button type="button" class="btn btn-fab btn-fab-mini">
					<i class="material-icons">send</i>
					<div class="ripple-container"></div>
				</button>
			</span>
		</div>
		<span class="material-input"></span>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">最近发布电影</h3>
		</div>
		<div class="panel-body">
			<p class="text-muted">2015年 12回合3：致命禁闭 蓝光电影 [美国动作片] (2015-12-16)</p>
			<p class="text-primary">2015年 夏洛特烦恼 高清电影 [国产/喜剧/爱情][沈腾/马丽等主演]
				(2015-12-14)</p>
			<p class="text-success">2014年 出棋制胜/弃卒 高清电影
				[美国/传记/剧情][讲述美国国际象棋大师鲍勃·费舍生平的传记片] (2015-12-14)</p>
			<p class="text-info">2015年 火星救援/火星任务(港)/绝地救援(台)/火星人 高清电影
				[美国/英国/剧情/科幻/冒险][改编自安迪·威尔的同名科幻小说] (2015-12-14)</p>
			<p class="text-warning">2015年 小王子 蓝光电影 [法国/动画/奇幻][拒绝做无聊的大人]
				(2015-12-13)</p>
			<p class="text-danger">2015年 战斧骨 高清电影 [美国/恐怖/西部] (2015-12-13)</p>
		</div>
	</div>

	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">电影分类</h3>
		</div>
		<div class="panel-body">
			<span class="label label-default">2015</span> <span
				class="label label-primary">惊悚</span> <span
				class="label label-success">喜剧</span> <span class="label label-info">爱情</span>
			<span class="label label-warning">恐怖</span> <span
				class="label label-danger">华语</span> <span
				class="label label-default">2015</span> <span
				class="label label-primary">惊悚</span> <span
				class="label label-success">喜剧</span> <span class="label label-info">爱情</span>
			<span class="label label-warning">恐怖</span> <span
				class="label label-danger">华语</span>
		</div>
	</div>

	<div class="panel panel-yellow">
		<div class="panel-body">
			<ul class="nav nav-tabs">
				<li class=""><a href="#new_film" data-toggle="tab"
					aria-expanded="false">热门电影</a></li>
				<li class="active"><a href="#random_film" data-toggle="tab"
					aria-expanded="true">随机电影</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade active in" id="new_film">
					<div class="list-group">
						<button type="button" class="list-group-item">Cras justo
							odio</button>
						<button type="button" class="list-group-item">Dapibus ac
							facilisis in</button>
						<button type="button" class="list-group-item">Morbi leo
							risus</button>
						<button type="button" class="list-group-item">Porta ac
							consectetur ac</button>
						<button type="button" class="list-group-item">Vestibulum
							at eros</button>
					</div>
				</div>
				<div class="tab-pane fade" id="random_film">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat
						nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</div>
</div>