#include("./header.html")
	<div class="row col-md-8">
		<div class="well">
			<form class="form-horizontal" action="${base}/admin/save_film" method="post">
			  <fieldset>
			    <legend>发布新影片</legend>
			    
			    #if(null != errors)
                <div class="alert alert-dismissible alert-danger">
				  <button type="button" class="close" data-dismiss="alert">×</button>
				  #for(item : errors)
				  <strong>${item}</strong><br/>
				  #end
				</div>
                #end
			    
			    <div class="form-group">
			      <label for="title" class="col-md-2 control-label">影片名称</label>
			      <div class="col-md-10">
			        <input type="text" class="form-control" id="title" name="title" placeholder="请输入影片名称">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="slug" class="col-md-2 control-label">显示名</label>
			      <div class="col-md-10">
			        <input type="text" class="form-control" id="slug" name="slug" placeholder="显示名">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="inputFile" class="col-md-2 control-label">上传封面图</label>
			      <div class="col-md-10">
			        <input type="text" readonly="" class="form-control" placeholder="选择图片...">
			        <input type="file" id="inputFile">
			      </div>
			    </div>
			    <input type="hidden" name="cover"/>
			    <div class="form-group">
			      <div class="col-md-offset-2 col-md-10">
			        <div class="togglebutton">
			          <label>
			            <input type="checkbox"> 网络图片
			          </label>
			        </div>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="content" class="col-md-2 control-label">影片详情</label>
			      <div class="col-md-10">
			        <textarea class="form-control" rows="10" id="content" name="content" placeholder="请输入影片详细信息"></textarea>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="tags" class="col-md-2 control-label">影片标签</label>
			      <div class="col-md-10">
			        <input type="text" class="form-control" id="tags" name="tags" placeholder="请输入影片标签">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="menu_id" class="col-md-2 control-label">请选择所属菜单</label>
			      <div class="col-md-10">
			        <select id="menu_id" name="menu_id" class="form-control">
			        	<option value="">请选择所属菜单</option>
			        	#for(item : menus)
			        	<option value="${item.id}">${item.name}</option>
			        	#end
			        </select>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="links" class="col-md-2 control-label">影片外链</label>
			      <div class="col-md-10">
			        <input type="text" class="form-control" id="links" placeholder="请输入外链地址">
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-md-10 col-md-offset-2">
			        <a href="${base}/admin/films" class="btn btn-default">取消发布</a>
			        <button type="submit" class="btn btn-primary">确认发布</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>
<!-- /.container -->
#include("./footer.html")
</body>
</html>