#include("./header.html")
	<div class="row col-md-8">
		<div class="well">
			<form class="form-horizontal" action="${base}/admin/save_setting" method="post">
			  <fieldset>
			    <legend>系统设置</legend>
			    
			    #if(null != errors)
                <div class="alert alert-dismissible alert-danger">
				  <button type="button" class="close" data-dismiss="alert">×</button>
				  #for(item : errors)
				  <strong>${item}</strong><br/>
				  #end
				</div>
                #end
                
                #if(null != success)
                <div class="alert alert-dismissible alert-success">
				  <button type="button" class="close" data-dismiss="alert">×</button>
				  <strong>保存成功</strong><br/>
				</div>
                #end
			    
			    <div class="form-group">
			      <label for="site_name" class="col-md-2 control-label">站点名称</label>
			      <div class="col-md-10">
			        <input type="text" class="form-control" id="site_name" name="site_name" placeholder="请输入站点名称" value="${options.site_name}"/>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="site_title" class="col-md-2 control-label">网站标题</label>
			      <div class="col-md-10">
			        <input type="text" class="form-control" id="site_title" name="site_title" placeholder="请输入网站标题" value="${options.site_title}"/>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="site_keywords" class="col-md-2 control-label">关键字</label>
			      <div class="col-md-10">
			        <input type="text" class="form-control" id="site_keywords" name="site_keywords" placeholder="请输入网站关键字" value="${options.site_keywords}"/>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="site_description" class="col-md-2 control-label">描述信息</label>
			      <div class="col-md-10">
			        <input type="text" class="form-control" id="site_description" name="site_description" placeholder="请输入网站描述" value="${options.site_description}"/>
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-md-10 col-md-offset-2">
			        <button type="submit" class="btn btn-primary">保存设置</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>
<!-- /.container -->
#include("./footer.html")
</body>
</html>