#include("./header.html")
<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" />
	<div class="row">
		<div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">所有标签</h3>
            </div>
            <div class="panel-body">
            <input name="tags" id="tags" value="${tags}" />
            </div>
          </div>
	</div>
	
</div>
<!-- /.container -->
#include("./footer.html")
<script src="//cdn.bootcss.com/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
<script type="text/javascript">
$('#tags').tagsInput({
	'width':'100%',
	'interactive':true,
	'defaultText':'添加标签',
	'onAddTag': function(elem, elem_tags){
		$.post("${base}/admin/save_tag",{name:elem},function(result){
			if(result && result == 'failure'){
				$("#error").attr('data-content', '标签不能为空').click();
			}
			if(result && result == 'exist'){
				$("#error").attr('data-content', '标签不能重复').click();
			}
			if(result && result == 'success'){
				$("#error").attr('data-content', '添加成功').click();
			}
		});
	},
	'onRemoveTag':function(elem, elem_tags){
		$.post("${base}/admin/delete_tag",{name:elem},function(result){
			if(result && result == 'failure'){
				$("#error").attr('data-content', '标签不能为空').click();
			}
			if(result && result == 'not_exist'){
				$("#error").attr('data-content', '不存在的标签').click();
			}
			if(result && result == 'success'){
				$("#error").attr('data-content', '删除成功').click();
			}
		});
	}
});
</script>
</body>
</html>